<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/a00_com/jquery.min.js"></script>
<script src="/a00_com/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var vm = new Vue({
			el:".container",
			data:{msg:"사원정보 리스트",empList:[]},
			created:function(){
				// vue객체가 생성되는 초기화면에서
				// 해당 기능 메서드 호출하여 데이터 리스트처리
				this.search();
			},
			methods:{
				search:function(){
					var vm = this
					// /empData  : 메인컨트롤러 처리 부분
					// /empRestData  : 레스트컨트롤러
					axios({
						method:"get",
						url:"/empData",					
					}).then((res)=>{
						console.log("사원정보")
						// res.data : json데이터를 가져온다.
						// empList : 모델 데이터로 선언된 내용..
						console.log(res.data.empList)
						vm.empList = res.data.empList
					}).catch(errr=>{
						console.log(error)
					})
				}
			}
			// <button @click="search" 
			/* <tr v-for="emp in empList">
    		<td>{{emp.empno}}</td><td>{{emp.ename}}</td>
    		<td>{{emp.job}}</td><td>{{emp.sal}}</td>
    		<td>{{emp.deptno}}</td></tr>			
			*/
		});	
	});
</script>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
	  <h2 >{{msg}}</h2>
	</div>
	<form id="frm01" class="form"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input class="form-control mr-sm-2" placeholder="제목" />
	    <input class="form-control mr-sm-2" placeholder="내용" />
	    <button @click="search" class="btn btn-info" type="button">Search</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
    <thead>
    
      <tr class="table-success text-center">
        <th>사원번호</th>
        <th>사원명</th>
        <th>직책명</th>
        <th>급여</th>
        <th>부서번호</th>
      </tr>
    </thead>	
    <tbody>
    	<tr v-for="emp in empList">
    		<td>{{emp.empno}}</td><td>{{emp.ename}}</td>
    		<td>{{emp.job}}</td><td>{{emp.sal}}</td>
    		<td>{{emp.deptno}}</td></tr>
    </tbody>
	</table>       
</div>
</body>
</html>